# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    rabbitmq_connection_parameters:
        host: '%env(RABBITMQ_HOST)%'
        port: '%env(RABBITMQ_PORT)%'
        vhost: '/'
        login: 'guest'
        password: 'guest'
        read_timeout: 60
        write_timeout: 5
        connect_timeout: 1

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    App\UI\Http\Rest\Controller\:
        resource: '../src/UI/Http/Rest/Controller'
        tags: ['controller.service_arguments']

    App\Shared\Domain\Bus\ClassNameResolver: ~
    App\Shared\Domain\Bus\ClassNameResolverInterface: '@App\Shared\Domain\Bus\ClassNameResolver'

    App\Shared\Infrastructure\Bus\Query\SymfonySyncQueryBus:
        arguments: [!tagged app.query]
        lazy: true

    App\Shared\Domain\Bus\Query\QueryBus: '@App\Shared\Infrastructure\Bus\Query\SymfonySyncQueryBus'

    App\Shared\Infrastructure\RabbitMQ\RabbitMQConnection:
        arguments:
            - '%rabbitmq_connection_parameters%'

fos_user:
    db_driver:      orm
    firewall_name:  main
    user_class:     App\Backoffice\User\Domain\User
    from_email:
        address: "no-reply@joeymasip.com"
        sender_name: "Joey"
    registration:
        confirmation:
            enabled: true
            template:   FOSUserBundle:Registration:email.txt.twig
            from_email:
                address:        "no-reply@joeymasip.com"
                sender_name:    "No Reply Registration"
    service:
        mailer: fos_user.mailer.twig_swift
    resetting:
        email:
            template:   FOSUserBundle:Resetting:email.txt.twig